* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: groteskWideBold;
  src: url(../fonts/HKGroteskWide-ExtraBold.otf);
}
@font-face {
  font-family: groteskBold;
  src: url(../fonts/HKGrotesk-Bold.ttf);
}
@font-face {
  font-family: otfGlusp;
  src: url(../fonts/OTF-Glusp.ttf);
}
@font-face {
  font-family: chakraM;
  src: url(../fonts/ChakraPetch-Medium.ttf);
}
@font-face {
  font-family: chakraB;
  src: url(../fonts/ChakraPetch-Bold.ttf);
}
.mDesignPortfolio div div img, .uxUiWebPortfolio div div img, .tattooPortfolio div div img, .mGraphicsService div div img, .uxUiWebService div div img, .tattoosService div div img {
  width: 308.57px;
  height: 350.39px;
  border-radius: 20px;
  box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.35);
  margin: 0 35px 35px 35px;
}

.mDesignPortfolio div div, .mDesignPortfolio div, .mDesignPortfolio, .uxUiWebPortfolio div div, .tattooPortfolio div div, .uxUiWebPortfolio div, .tattooPortfolio div, .uxUiWebPortfolio, .tattooPortfolio, .mGraphicsService div div, .mGraphicsService div, .mGraphicsService, .uxUiWebService div div, .tattoosService div div, .uxUiWebService div, .tattoosService div, .uxUiWebService, .tattoosService, .banner, footer, .contact, .tattooSection, .mDesignSection, .wDeveloperSection, .uiUxSection, .secondMenu .content, .secondMenu, .heroSection, header .nav-bar nav ul, header .nav-bar nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mDesignSection div .mDesignLeft, .uiUxSection div .uiUxLeft {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.tattooSection div .tattooRight, .wDeveloperSection div .wDeveloperRight {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.mDesignPortfolio div a, .uxUiWebPortfolio div a, .tattooPortfolio div a, .mGraphicsService div a, .uxUiWebService div a, .tattoosService div a, .mDesignPortfolio div a:hover, .uxUiWebPortfolio div a:hover, .tattooPortfolio div a:hover, .mGraphicsService div a:hover, .uxUiWebService div a:hover, .tattoosService div a:hover {
  width: 154px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B11C15;
  border-radius: 15px;
  font-size: 32px;
  font-family: groteskBold;
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.mDesignPortfolio div a:hover, .uxUiWebPortfolio div a:hover, .tattooPortfolio div a:hover, .mGraphicsService div a:hover, .uxUiWebService div a:hover, .tattoosService div a:hover {
  background-color: white;
  color: #13141E;
  transition: 0.5s;
  text-decoration: none;
}

header {
  width: 100%;
  height: 74.69px;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
}
header .nav-bar {
  width: 790px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
  margin-top: 37px;
}
header .nav-bar nav {
  width: 100%;
  height: 100%;
  background-image: url("../img/papel-arrugado.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
header .nav-bar nav input, header .nav-bar nav label {
  display: none;
}
header .nav-bar nav .logo {
  width: 183.14px;
  height: 53.15px;
}
header .nav-bar nav ul {
  list-style: none;
  margin: 0;
}
header .nav-bar nav ul li {
  margin: 0 5px;
}
header .nav-bar nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #13141E;
  font-family: groteskWideBold;
}
header .nav-bar nav ul li a.active, header .nav-bar nav ul li a:hover {
  text-decoration: underline;
}

.heroSection {
  width: 100%;
  height: 927px;
  background-color: aqua;
}
.heroSection .leftSide {
  width: 70%;
  height: 927px;
  background-color: #13141E;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 240px;
}
.heroSection .leftSide h2 {
  font-family: otfGlusp;
  font-size: 42px;
  color: #fff;
}
.heroSection .leftSide h2 span {
  color: #2b2d42;
}
.heroSection .leftSide p {
  font-family: chakraM;
  font-size: 32px;
  color: #a2a4bc;
}
.heroSection .leftSide .letsWorkButton {
  width: 315px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #B11C15;
  font-family: groteskBold;
  font-size: 32px;
  color: white;
  text-decoration: none;
}
.heroSection .leftSide .letsWorkButton:hover {
  width: 315px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #B11C15;
  font-family: groteskBold;
  font-size: 32px;
  color: white;
  text-decoration: none;
  background-color: white;
  color: #b11c15;
  transition: 0.5s;
  text-decoration: none;
}
.heroSection .rightSide {
  width: 30%;
  height: 927px;
  background-image: url(../img/papel-arrugado.jpg);
  background-size: cover;
  background-repeat: none;
  display: flex;
  align-items: center;
  position: relative;
}
.heroSection .rightSide .imgHero {
  width: 745px;
  height: 745px;
  position: absolute;
  right: 30%;
}

.secondMenu {
  width: 100%;
  height: 103px;
  background-color: #0B0A12;
}
.secondMenu .content {
  width: 1440px;
  height: 100%;
}
.secondMenu .content a {
  font-family: otfGlusp;
  font-size: 26px;
  margin: 0 15px;
  color: #C9C9C9;
  text-decoration: none;
}
.secondMenu .content a:hover {
  color: #B11C15;
  transition: 0.5s;
}
.secondMenu .content .circleL {
  width: 21px;
  height: 21px;
  background-color: #2B2D42;
  border-radius: 50px;
}

.uiUxSection {
  width: 100%;
  height: 527px;
  background-color: #13141E;
}
.uiUxSection div {
  width: 1440px;
  height: 100%;
  display: flex;
  align-items: center;
}
.uiUxSection div .uiUxLeft {
  width: 60%;
  height: auto;
}
.uiUxSection div .uiUxLeft h2 {
  font-size: 64px;
  font-family: otfGlusp;
  margin-bottom: 0;
  color: white;
}
.uiUxSection div .uiUxLeft p {
  font-family: chakraM;
  font-size: 32px;
  margin-bottom: 17px;
  color: #a1a4bc;
}
.uiUxSection div .uiUxLeft p span {
  color: #d4d7e8;
  font-family: chakraB;
}
.uiUxSection div .uiUxLeft .buttons {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: baseline;
}
.uiUxSection div .uiUxLeft .buttons .letsWorkButton {
  width: 315px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #B11C15;
  font-family: groteskBold;
  font-size: 32px;
  color: white;
  text-decoration: none;
}
.uiUxSection div .uiUxLeft .buttons .letsWorkButton:hover {
  width: 315px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #B11C15;
  font-family: groteskBold;
  font-size: 32px;
  color: white;
  text-decoration: none;
  background-color: white;
  color: #b11c15;
  transition: 0.5s;
  text-decoration: none;
}
.uiUxSection div .uiUxLeft .buttons .portfolioButton {
  width: 154px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e4e4;
  border-radius: 15px;
  font-size: 32px;
  font-family: groteskBold;
  color: #13141e;
  text-decoration: none;
  margin-left: 20px;
}
.uiUxSection div .uiUxLeft .buttons .portfolioButton:hover {
  width: 154px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e4e4;
  border-radius: 15px;
  font-size: 32px;
  font-family: groteskBold;
  color: #13141e;
  text-decoration: none;
  margin-left: 20px;
  background-color: #0B0A12;
  color: #E7E4E4;
  transition: 0.5s;
  text-decoration: none;
}
.uiUxSection div .uiUxRight {
  width: 40%;
  height: 100%;
  position: relative;
}
.uiUxSection div .uiUxRight img {
  width: 120%;
  height: 120%;
  position: absolute;
  top: 27px;
}

.wDeveloperSection {
  width: 100%;
  height: 527px;
  background-image: url(../img/papel-arrugado.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.wDeveloperSection div {
  width: 1440px;
  height: 100%;
  display: flex;
  align-items: center;
}
.wDeveloperSection div .wDeveloperLeft {
  width: 40%;
  height: 100%;
  position: relative;
}
.wDeveloperSection div .wDeveloperLeft img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30px;
}
.wDeveloperSection div .wDeveloperRight {
  width: 60%;
  height: auto;
}
.wDeveloperSection div .wDeveloperRight h2 {
  font-size: 64px;
  font-family: otfGlusp;
  margin-bottom: 0;
  color: #13141E;
  text-align: end;
}
.wDeveloperSection div .wDeveloperRight p {
  font-family: chakraM;
  font-size: 32px;
  margin-bottom: 17px;
  color: #3A3D57;
  text-align: end;
}
.wDeveloperSection div .wDeveloperRight p span {
  color: #13141E;
  font-family: chakraB;
}
.wDeveloperSection div .wDeveloperRight .buttons {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: end;
}
.wDeveloperSection div .wDeveloperRight .buttons .letsWorkButton {
  width: 315px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #B11C15;
  font-family: groteskBold;
  font-size: 32px;
  color: white;
  text-decoration: none;
}
.wDeveloperSection div .wDeveloperRight .buttons .letsWorkButton:hover {
  width: 315px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #B11C15;
  font-family: groteskBold;
  font-size: 32px;
  color: white;
  text-decoration: none;
  background-color: white;
  color: #b11c15;
  transition: 0.5s;
  text-decoration: none;
  background-color: #13141E;
  color: white;
}
.wDeveloperSection div .wDeveloperRight .buttons .portfolioButton {
  width: 154px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e4e4;
  border-radius: 15px;
  font-size: 32px;
  font-family: groteskBold;
  color: #13141e;
  text-decoration: none;
  margin-left: 20px;
  background-color: #13141E;
  color: white;
}
.wDeveloperSection div .wDeveloperRight .buttons .portfolioButton:hover {
  width: 154px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e4e4;
  border-radius: 15px;
  font-size: 32px;
  font-family: groteskBold;
  color: #13141e;
  text-decoration: none;
  margin-left: 20px;
  background-color: #0B0A12;
  color: #E7E4E4;
  transition: 0.5s;
  text-decoration: none;
  background-color: #B11C15;
}

.mDesignSection {
  width: 100%;
  height: 527px;
  background-color: #13141E;
}
.mDesignSection div {
  width: 1440px;
  height: 100%;
  display: flex;
  align-items: center;
}
.mDesignSection div .mDesignLeft {
  width: 60%;
  height: auto;
}
.mDesignSection div .mDesignLeft h2 {
  font-size: 64px;
  font-family: otfGlusp;
  margin-bottom: 0;
  color: white;
}
.mDesignSection div .mDesignLeft p {
  font-family: chakraM;
  font-size: 32px;
  margin-bottom: 17px;
  color: #A1A4BC;
}
.mDesignSection div .mDesignLeft p span {
  color: #D4D7E8;
}
.mDesignSection div .mDesignLeft .buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.mDesignSection div .mDesignLeft .buttons .letsWorkButton {
  width: 315px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #B11C15;
  font-family: groteskBold;
  font-size: 32px;
  color: white;
  text-decoration: none;
}
.mDesignSection div .mDesignLeft .buttons .letsWorkButton:hover {
  width: 315px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #B11C15;
  font-family: groteskBold;
  font-size: 32px;
  color: white;
  text-decoration: none;
  background-color: white;
  color: #b11c15;
  transition: 0.5s;
  text-decoration: none;
}
.mDesignSection div .mDesignLeft .buttons .portfolioButton {
  width: 154px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e4e4;
  border-radius: 15px;
  font-size: 32px;
  font-family: groteskBold;
  color: #13141e;
  text-decoration: none;
  margin-left: 20px;
}
.mDesignSection div .mDesignLeft .buttons .portfolioButton:hover {
  width: 154px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e4e4;
  border-radius: 15px;
  font-size: 32px;
  font-family: groteskBold;
  color: #13141e;
  text-decoration: none;
  margin-left: 20px;
  background-color: #0B0A12;
  color: #E7E4E4;
  transition: 0.5s;
  text-decoration: none;
}
.mDesignSection div .mDesignRight {
  width: 40%;
  height: 100%;
  position: relative;
}
.mDesignSection div .mDesignRight img {
  width: 110%;
  height: 110%;
  position: absolute;
  top: 30px;
}

.tattooSection {
  width: 100%;
  height: 527px;
  background-image: url(../img/papel-arrugado.jpg);
  background-repeat: none;
  background-position: center;
  background-size: cover;
}
.tattooSection div {
  width: 1440px;
  height: 100%;
  display: flex;
  align-items: center;
}
.tattooSection div .tattooLeft {
  width: 40%;
  height: 100%;
  position: relative;
}
.tattooSection div .tattooLeft img {
  width: 110%;
  height: 110%;
  position: absolute;
  top: 27px;
}
.tattooSection div .tattooRight {
  width: 60%;
  height: auto;
}
.tattooSection div .tattooRight h2 {
  font-size: 64px;
  font-family: otfGlusp;
  margin-bottom: 0;
  color: 13141E;
  text-align: end;
}
.tattooSection div .tattooRight p {
  font-family: chakraM;
  font-size: 32px;
  margin-bottom: 17px;
  color: #3A3D57;
  text-align: end;
}
.tattooSection div .tattooRight p span {
  color: #13141E;
  font-family: chakraB;
}
.tattooSection div .tattooRight .buttons {
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: row;
}
.tattooSection div .tattooRight .buttons .letsWorkButton {
  width: 315px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #B11C15;
  font-family: groteskBold;
  font-size: 32px;
  color: white;
  text-decoration: none;
}
.tattooSection div .tattooRight .buttons .letsWorkButton:hover {
  width: 315px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #B11C15;
  font-family: groteskBold;
  font-size: 32px;
  color: white;
  text-decoration: none;
  background-color: white;
  color: #b11c15;
  transition: 0.5s;
  text-decoration: none;
  color: white;
  background-color: #13141E;
}
.tattooSection div .tattooRight .buttons .portfolioButton {
  width: 154px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e4e4;
  border-radius: 15px;
  font-size: 32px;
  font-family: groteskBold;
  color: #13141e;
  text-decoration: none;
  margin-left: 20px;
  background-color: #13141E;
  color: white;
}
.tattooSection div .tattooRight .buttons .portfolioButton:hover {
  width: 154px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e4e4;
  border-radius: 15px;
  font-size: 32px;
  font-family: groteskBold;
  color: #13141e;
  text-decoration: none;
  margin-left: 20px;
  background-color: #0B0A12;
  color: #E7E4E4;
  transition: 0.5s;
  text-decoration: none;
  background-color: #B11C15;
}

.contact {
  width: 100%;
  height: 784px;
  background-color: #13141E;
}
.contact div {
  width: 1440px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact div h2 {
  font-size: 64px;
  font-family: otfGlusp;
  margin-bottom: 0;
  color: white;
  margin-bottom: 30px;
}
.contact div h2 span {
  color: #D4D7E8;
}
.contact div p {
  font-family: chakraM;
  font-size: 32px;
  margin-bottom: 17px;
  text-align: center;
  color: #A1A4BC;
  margin-bottom: 70px;
}
.contact div p span {
  color: #D4D7E8;
  font-family: chakraB;
}
.contact div div {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.contact div div .nameContact input {
  background-color: #13141E;
  border-style: none;
  border-bottom: solid 2px white;
  border-radius: 0;
}
.contact div div .nameContact input ::placeholder {
  color: #303142;
  font-family: chakraM;
}
.contact div div .emailContact input {
  background-color: #13141E;
  border-style: none;
  border-bottom: solid 2px white;
  border-radius: 0;
}
.contact div div .emailContact input ::placeholder {
  color: #303142;
  font-family: chakraM;
}
.contact div .textContact textarea {
  background-color: #13141E;
  border-radius: 0;
  border-style: none;
  border-bottom: solid 2px white;
}

.redRibbon {
  width: 100%;
  height: 80px;
  background-color: #B11C15;
}

footer {
  width: 100%;
  height: 687px;
  background-color: #13141E;
}
footer .containerFooter {
  width: 1440px;
  height: auto;
}
footer .containerFooter h3 {
  font-size: 40px;
  color: #D4D7E8;
  font-family: otfGlusp;
  margin-bottom: 30px;
}
footer .containerFooter .info {
  width: 100%;
  height: 262px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: solid 2px white;
}
footer .containerFooter .info .linksInfo {
  display: flex;
  flex-direction: column;
}
footer .containerFooter .info .linksInfo a {
  color: white;
  font-size: 16px;
  font-family: otfGlusp;
  text-decoration: none;
  margin-bottom: 20px;
  transition: 0.5s;
}
footer .containerFooter .info .linksInfo a:hover {
  color: #B11C15;
}
footer .containerFooter .info .contactInfo {
  display: flex;
  flex-direction: column;
}
footer .containerFooter .info .contactInfo p {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: otfGlusp;
}
footer .containerFooter .containerBottom {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .containerFooter .containerBottom img {
  width: 151px;
  height: 43.82px;
  border-radius: 5px;
}
footer .containerFooter .containerBottom a {
  color: white;
  font-size: 30px;
  margin-left: 20px;
  transition: 0.5s;
}
footer .containerFooter .containerBottom a:hover {
  color: #B11C15;
}

.banner {
  width: 100%;
  height: 925px;
  position: relative;
}
.banner .bannerBG {
  width: 100%;
  height: 100%;
  background-image: url(../img/Services-BG.jpg);
  background-image: cover;
  background-position: center;
  background-repeat: repeat;
  position: absolute;
}
.banner .bannerLogo {
  position: absolute;
  width: 702px;
  height: 256px;
}

.uxUiWebService, .tattoosService {
  width: 100%;
  height: 934px;
  background-color: #13141E;
}
.uxUiWebService div, .tattoosService div {
  width: 1440px;
  height: auto;
  flex-direction: column;
}
.uxUiWebService div h2, .tattoosService div h2 {
  font-size: 64px;
  font-family: otfGlusp;
  margin-bottom: 0;
  color: white;
  border-bottom: solid 2px white;
  margin-bottom: 50px;
}
.uxUiWebService div p, .tattoosService div p {
  width: 60%;
  font-family: chakraM;
  font-size: 32px;
  margin-bottom: 17px;
  color: #A1A4BC;
  text-align: center;
  margin-bottom: 50px;
}
.uxUiWebService div p span, .tattoosService div p span {
  color: #D4D7E8;
  font-family: chakraB;
}
.uxUiWebService div div, .tattoosService div div {
  flex-direction: row;
}
.mGraphicsService {
  width: 100%;
  height: 934px;
  background-image: url(../img/papel-arrugado.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mGraphicsService div {
  width: 1440px;
  height: auto;
  flex-direction: column;
}
.mGraphicsService div h2 {
  font-size: 64px;
  font-family: otfGlusp;
  margin-bottom: 0;
  color: #13141E;
  border-bottom: solid 2px #13141E;
  margin-bottom: 50px;
}
.mGraphicsService div p {
  width: 60%;
  font-family: chakraM;
  font-size: 32px;
  margin-bottom: 17px;
  color: #3A3D57;
  text-align: center;
  margin-bottom: 50px;
}
.mGraphicsService div p span {
  color: #13141E;
  font-family: chakraB;
}
.mGraphicsService div div {
  flex-direction: row;
}
.mGraphicsService div a:hover {
  color: white;
  background-color: #13141E;
}

.uxUiWebPortfolio, .tattooPortfolio {
  width: 100%;
  height: 1226px;
  background-color: #13141E;
}
.uxUiWebPortfolio div, .tattooPortfolio div {
  width: 1440px;
  height: auto;
  flex-direction: column;
}
.uxUiWebPortfolio div h2, .tattooPortfolio div h2 {
  font-size: 64px;
  font-family: otfGlusp;
  margin-bottom: 0;
  color: white;
  border-bottom: solid 2px white;
  margin-bottom: 50px;
}
.uxUiWebPortfolio div div, .tattooPortfolio div div {
  width: 100%;
  height: auto;
  flex-direction: row;
}
.uxUiWebPortfolio div a, .tattooPortfolio div a {
  width: 190px;
}
.uxUiWebPortfolio div a:hover, .tattooPortfolio div a:hover {
  width: 190px;
}

.mDesignPortfolio {
  width: 100%;
  height: 1226px;
  background-image: url(../img/papel-arrugado.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mDesignPortfolio div {
  width: 1140px;
  height: auto;
  flex-direction: column;
}
.mDesignPortfolio div h2 {
  font-size: 64px;
  font-family: otfGlusp;
  margin-bottom: 0;
  color: #13141E;
  border-bottom: solid 2px #13141E;
  margin-bottom: 50px;
}
.mDesignPortfolio div div {
  width: 100%;
  height: auto;
  flex-direction: row;
}
.mDesignPortfolio div a {
  width: 190px;
}
.mDesignPortfolio div a:hover {
  width: 190px;
  color: white;
  background-color: #13141E;
}

.contactContainer {
  width: 100%;
  height: 925px;
  display: flex;
  align-items: center;
}
.contactContainer .map {
  width: 60%;
  height: 100%;
  background-image: url("../img/map-contact.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contactContainer .contactInfo {
  width: 40%;
  height: 100%;
  background-color: #13141E;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 55px;
}
.contactContainer .contactInfo .contactTitle {
  color: #D4D7E8;
  font-size: 36px;
  font-family: otfGlusp;
  margin-bottom: 12px;
}
.contactContainer .contactInfo .contactP {
  color: white;
  font-size: 30px;
  font-family: chakraB;
  margin-bottom: 50px;
}

/*# sourceMappingURL=styles.css.map */
