* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//========= FONTS =========//

@import "./fonts.scss";

//========= FONTS =========//

//========= MIXIN =========//

@import "./mixin.scss";

//========= MIXIN =========//

//========= EXTENDS =========//

@import "./extend.scss";

//========= EXTENDS =========//







//===============================================//
//================ 1920px - 1440px ==============//
//===============================================//








//===============================================//
//================ HOME ==============//
//===============================================//





//========= HEADER =========//

header {
    width: 100%;
    height: 74.69px;
    display: flex;
    justify-content: center;
    position:fixed;
    z-index: 1;

    .nav-bar {
        width: 790px;
        height: 100%;
        border-radius: 10px;
        box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
        margin-top: 37px;

        nav {
            width: 100%;
            height: 100%;
            background-image: url("../img/papel-arrugado.jpg");
            background-position: center;
            background-size: cover;
            @extend %flexCenter;
            border-radius: 10px;

            input, label {
                display: none;
            }

            .logo {
                width: 183.14px;
                height: 53.15px; 
            }

            ul {
                @extend %flexCenter;
                list-style: none;
                margin: 0;
    
                li {
                    margin: 0 5px;
    
                    a {
                        text-decoration: none;
                        font-size:  16px;
                        color: #13141E;
                        font-family: groteskWideBold;
                    }
    
                    a.active, a:hover{
                        text-decoration: underline;     
                    }
                }
            }
        }
    }
}






//========= FINAL HEADER =========//







//========= HERO SECTION =========//




.heroSection {
    width: 100%;
    height: 927px;
    @extend %flexCenter;
    background-color: aqua;

    .leftSide {
        width: 70%;
        height: 927px;
        background-color: #13141E;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 240px;

        h2 {
            font-family: otfGlusp;
            font-size: 42px;
            color: #fff;
            
            span {
                color: #2b2d42;
            }
        }

        p {
            font-family: chakraM;
            font-size: 32px;
            color: #a2a4bc;
            }

        .letsWorkButton {
            @include letsWorkButton1();
        }

        .letsWorkButton:hover {
            @include letsWorkButtonHover();
        } 
    }
    
    .rightSide {
        width: 30%;
        height: 927px;
        background-image: url(../img/papel-arrugado.jpg);
        background-size: cover;
        background-repeat: none;
        display: flex;
        align-items: center;
        position: relative;

        .imgHero {
            width: 745px;
            height: 745px;
            position: absolute;
            right: 30%;
        }
    }
}




//========= HERO SECTION FINAL =========//








//========= SECOND MENU =========//

.secondMenu {
    width: 100%;
    height: 103px;
    background-color: #0B0A12;
    @extend %flexCenter;

    .content {
        width: 1440px;
        height: 100%;
        @extend %flexCenter;

        a {
            font-family: otfGlusp;
            font-size: 26px;
            margin: 0 15px;
            color: #C9C9C9;
            text-decoration: none;
        }

        a:hover {
            color: #B11C15;
            transition: 0.5s;
        }

        .circleL {
            width: 21px;
            height: 21px;
            background-color: #2B2D42;
            border-radius: 50px;
        }
    }
}

    

        

//========= SECOND MENU FINAL =========//





//========= UX/UI DESIGN =========//

.uiUxSection {
    width: 100%;
    height: 527px;
    background-color: #13141E;
    @extend %flexCenter;

    div {
        width: 1440px;
        height: 100%;
        display: flex;
        align-items: center;

        .uiUxLeft {
            width: 60%;
            height: auto;

            h2 {
                @include webH2();
                color: white;
            }

            p {
                @include webP();
                color: #a1a4bc;

                span {
                    color: #d4d7e8;
                    font-family: chakraB;
                }
            }

            .buttons {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: baseline;

                .letsWorkButton {
                    @include letsWorkButton1();
                }

                .letsWorkButton:hover {
                    @include letsWorkButtonHover();
                }

                .portfolioButton {
                    @include portfolioButton1();
                }

                .portfolioButton:hover {
                    @include portfolioButtonHover();
                }
            }
            
        }

        .uiUxRight {
            width: 40%;
            height: 100%;
            position: relative;

            img {
                width: 120%;
                height: 120%;
                position: absolute;
                top: 27px;
            }
        }
    }
}





//========= UX/UI DESIGN FINAL =========//








//========= WEB DEVELOPER =========//


.wDeveloperSection {
    width: 100%;
    height: 527px;
    background-image: url(../img/papel-arrugado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @extend %flexCenter;

    div {
        width: 1440px;
        height: 100%;
        display: flex;
        align-items: center;

        .wDeveloperLeft {
            width: 40%;
            height: 100%;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 30px;
            }
        }

        .wDeveloperRight {
            width: 60%;
            height: auto;
            
            h2 {
                @include webH2();
                color: #13141E;
                text-align: end
            }

            p {
                @include webP();
                color: #3A3D57;
                text-align: end;

                span{
                    color: #13141E;
                    font-family: chakraB;
                }
            }

            .buttons {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: end;

                .letsWorkButton {
                    @include letsWorkButton1();
                }

                .letsWorkButton:hover {
                    @include letsWorkButtonHover();
                    background-color: #13141E;
                    color: white;
                }

                .portfolioButton {
                    @include portfolioButton1();
                    background-color: #13141E;
                    color: white;
                }

                .portfolioButton:hover {
                    @include portfolioButtonHover();
                    background-color: #B11C15;
                }
            }

        }
    }
}



//========= WEB DEVELOPER FINAL=========//









//========= MOTION DESIGN =========//

.mDesignSection {
    width: 100%;
    height: 527px;
    background-color: #13141E;
    @extend %flexCenter;

    div {
        width: 1440px;
        height: 100%;
        display: flex;
        align-items: center;

        .mDesignLeft {
            width: 60%;
            height: auto;

            h2 {
                @include webH2();
                color: white;
            }

            p {
                @include webP();
                color: #A1A4BC;

                span {
                    color: #D4D7E8;
                }
            }

            .buttons {
                display: flex;
                align-items: center;
                flex-direction: row;

                .letsWorkButton {
                    @include letsWorkButton1();
                }

                .letsWorkButton:hover {
                    @include letsWorkButtonHover();
                }

                .portfolioButton {
                    @include portfolioButton1()
                }

                .portfolioButton:hover {
                    @include portfolioButtonHover();
                }
            }
        }

        .mDesignRight {
            width: 40%;
            height: 100%;
            position: relative;

            img {
                width: 110%;
                height: 110%;
                position: absolute;
                top: 30px;
            }
        }
    }
}






//========= MOTION DESIGN FINAL =========//




















//========= TATTOO =========//


.tattooSection {
    width: 100%;
    height: 527px;
    background-image: url(../img/papel-arrugado.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    @extend %flexCenter;;

    div {
        width: 1440px;
        height: 100%;
        display: flex;
        align-items: center;

        .tattooLeft {
            width: 40%;
            height: 100%;
            position: relative;

            img {
                width: 110%;
                height: 110%;
                position: absolute;
                top: 27px;
            }
        }

        .tattooRight {
            width: 60%;
            height: auto;

            h2 {
                @include webH2();
                color: 13141E;
                text-align: end;
            }

            p {
                @include webP();
                color: #3A3D57;
                text-align: end;

                span {
                    color: #13141E;
                    font-family: chakraB;
                };
            }

            .buttons {
                width: 100%;
                display: flex;
                justify-content: end;
                flex-direction: row;

                .letsWorkButton {
                    @include letsWorkButton1();
                }

                .letsWorkButton:hover {
                    @include letsWorkButtonHover();
                    color: white;
                    background-color: #13141E;
                }

                .portfolioButton {
                    @include portfolioButton1();
                    background-color: #13141E;
                    color: white;
                }

                .portfolioButton:hover {
                    @include portfolioButtonHover();
                    background-color: #B11C15;
                }
            }
        }
    }
}






//========= TATTOO FINAL =========// 












//========= CONTACTO =========//


.contact {
    width: 100%;
    height: 784px;
    background-color: #13141E;
    @extend %flexCenter;

    div {
        width: 1440px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            @include webH2();
            color: white;
            margin-bottom: 30px;

            span {
                color: #D4D7E8;
            }
        }

        p {
            @include webP();
            text-align: center;
            color: #A1A4BC;
            margin-bottom: 70px;

            span {
                color: #D4D7E8;
                font-family: chakraB;
            }
        }

        div {
            width: 100%;
            display: flex;
            flex-direction: row;

            .nameContact {

                input {
                    background-color: #13141E;
                    border-style: none;
                    border-bottom: solid 2px white;
                    border-radius: 0;
                    
                    ::placeholder {
                        color: #303142;
                        font-family: chakraM;
                    }
                }
            }

            .emailContact {

                input {
                    background-color: #13141E;
                    border-style: none;
                    border-bottom: solid 2px white;
                    border-radius: 0;

                    ::placeholder {
                        color: #303142;
                        font-family: chakraM;
                    }
                }
            }     
        }

        .textContact {

            textarea {
                background-color: #13141E;
                border-radius: 0;
                border-style: none;
                border-bottom: solid 2px white;
            }
        }
    }
}





//========= CONTACTO FINAL =========//














//========= RED RIBBON =========//



.redRibbon {
    width: 100%;
    height: 80px;
    background-color: #B11C15;
}




//========= RED RIBBON FINAL =========//












//========= FOOTER =========//



footer {
    width: 100%;
    height: 687px;
    @extend %flexCenter;
    background-color: #13141E;

    .containerFooter {
        width: 1440px;
        height: auto;

        h3 {
            font-size: 40px;
            color: #D4D7E8;
            font-family: otfGlusp;
            margin-bottom: 30px;
        }

        .info {
            width: 100%;
            height: 262px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            border-bottom: solid 2px white;

            .linksInfo {
                display: flex;
                flex-direction: column;

                a {
                   color: white;
                   font-size: 16px;
                   font-family: otfGlusp;
                   text-decoration: none;
                   margin-bottom: 20px;
                   transition: 0.5s;
                }

                a:hover {
                    color: #B11C15;
                }
            }

            .contactInfo {
                display: flex;
                flex-direction: column;

                p {
                    color: white;
                    font-size: 16px;
                    margin-bottom: 20px;
                    font-family: otfGlusp;
                }
            }
        }

        .containerBottom {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 151px;
                height: 43.82px;
                border-radius: 5px;
            }

            a {
                color: white;
                font-size: 30px;
                margin-left: 20px;
                transition: 0.5s;
            }

            a:hover {
                color: #B11C15;
            }
        }
    }
}













//========= FOOTER FINAL =========//












//===============================================//
//================ HOME FINAL ==============//
//===============================================//





















//===============================================//
//================ SERVICES ==============//
//===============================================//












//========= BANNER =========//






.banner {
    width: 100%;
    height: 925px;
    position: relative;
    @extend %flexCenter;

    .bannerBG {
        width: 100%;
        height: 100%;
        background-image: url(../img/Services-BG.jpg);
        background-image: cover;
        background-position: center;
        background-repeat: repeat;
        position: absolute;
    }

    .bannerLogo {
        position: absolute;
        width: 702px;
        height: 256px;
    }
}









//========= BANNER FINAL =========//












//========= UX / UI & WEB DEVELOPER & TATTOO SERVICE =========//









.uxUiWebService, .tattoosService {
    width: 100%;
    height: 934px;
    background-color: #13141E;
    @extend %flexCenter;

    div {
        width: 1440px;
        height: auto;
        @extend %flexCenter;
        flex-direction: column;

        h2 {
            @include webH2();
            color: white;
            border-bottom: solid 2px white;
            margin-bottom: 50px
        }

        p {
            width: 60%;
            @include webP();
            color: #A1A4BC;
            text-align: center;
            margin-bottom: 50px;

            span {
                color: #D4D7E8;
                font-family: chakraB
            }
        }

        div {
            @extend %flexCenter;
            flex-direction: row;

            img {
                @extend %picPortfolio;
            }
        }

        a {
            @extend %buttonPortfolio;
        }

        a:hover {
            @extend %buttonPortfolioHover;
        }
    }
}








//========= UX / UI & WEB DEVELOPER & TATTOO SERVICE FINAL =========//













//========= MOTION GRAPHICS SERVICE =========//









.mGraphicsService {
    width: 100%;
    height: 934px;
    background-image: url(../img/papel-arrugado.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @extend %flexCenter;

    div {
        width: 1440px;
        height: auto;
        @extend %flexCenter;
        flex-direction: column;

        h2 {
            @include webH2();
            color: #13141E;
            border-bottom: solid 2px #13141E;
            margin-bottom: 50px
        }

        p {
            width: 60%;
            @include webP();
            color: #3A3D57;
            text-align: center;
            margin-bottom: 50px;

            span {
                color: #13141E;
                font-family: chakraB
            }
        }

        div {
            @extend %flexCenter;
            flex-direction: row;

            img {
                @extend %picPortfolio;
            }
        }

        a {
            @extend %buttonPortfolio;
        }

        a:hover {
            @extend %buttonPortfolioHover;
            color: white;
            background-color: #13141E;
        }
    }
}








//========= MOTION GRAPHICS FINAL =========//







//===============================================//
//================ SERVICES FINAL ==============//
//===============================================//









//===============================================//
//================ PORTFOLIO ==============//
//===============================================//












//========= UX / UI & WEB DEVELOPER & TATTOO SERVICE =========//



.uxUiWebPortfolio, .tattooPortfolio {
    width: 100%;
    height: 1226px;
    background-color: #13141E;
    @extend %flexCenter;

    div {
        width: 1440px;
        height: auto;
        @extend %flexCenter;
        flex-direction: column;

        h2 {
            @include webH2();
            color: white;
            border-bottom: solid 2px white;
            margin-bottom: 50px;
        }

        div {
            width: 100%;
            height: auto;
            @extend %flexCenter;
            flex-direction: row;

            img {
                @extend %picPortfolio;
            }
        }

        a {
            @extend %buttonPortfolio;
            width: 190px;
        }

        a:hover {
            @extend %buttonPortfolioHover;
            width: 190px;
        }
    }
}










//========= UX / UI & WEB DEVELOPER & TATTOO SERVICE FINAL =========//










//========= TATTOO SERVICE =========//









.mDesignPortfolio {
    width: 100%;
    height: 1226px;
    background-image: url(../img/papel-arrugado.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @extend %flexCenter;

    div {
        width: 1140px;
        height: auto;
        @extend %flexCenter;
        flex-direction: column;

        h2 {
            @include webH2();
            color: #13141E;
            border-bottom: solid 2px #13141E;
            margin-bottom: 50px;
        }

        div {
            width: 100%;
            height: auto;
            @extend %flexCenter;
            flex-direction: row;

            img {
                @extend %picPortfolio;
            }
        }

        a {
            @extend %buttonPortfolio;
            width: 190px;
        }

        a:hover {
            @extend %buttonPortfolioHover;
            width: 190px;
            color: white;
            background-color: #13141E;
        }
    }
}












//========= TATTOO SERVICE FINAL =========//


















//===============================================//
//================ PORTFOLIO FINAL ==============//
//===============================================//


















//===============================================//
//================ CONTACT ==============//
//===============================================//










.contactContainer {
    width: 100%;
    height: 925px;
    display: flex;
    align-items: center;

    .map {
        width: 60%;
        height: 100%;
        background-image: url("../img/map-contact.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contactInfo {
        width: 40%;
        height: 100%;
        background-color: #13141E;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 55px;

        .contactTitle {
            color: #D4D7E8;
            font-size: 36px;
            font-family: otfGlusp;
            margin-bottom: 12px;
        }

        .contactP {
            color: white;
            font-size: 30px;
            font-family: chakraB;
            margin-bottom: 50px;
        }
    }
}
















//===============================================//
//================ CONTACT FINAL ==============//
//===============================================//


