.uxUiWebService div div img, .tattoosService div div img, .mGraphicsService div div img, .uxUiWebPortfolio div div img, .tattooPortfolio div div img, .mDesignPortfolio div div img {
  width: 308.57px;
  height: 350.39px;
  border-radius: 20px;
  box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.35);
  margin: 0 35px 35px 35px; }

header .nav-bar nav, header .nav-bar nav ul, .contact, footer, .heroSection, .secondMenu, .secondMenu .content, .uiUxSection, .mDesignSection, .wDeveloperSection, .tattooSection, .banner, .uxUiWebService, .tattoosService, .uxUiWebService div, .tattoosService div, .uxUiWebService div div, .tattoosService div div, .mGraphicsService, .mGraphicsService div, .mGraphicsService div div, .uxUiWebPortfolio, .tattooPortfolio, .uxUiWebPortfolio div, .tattooPortfolio div, .uxUiWebPortfolio div div, .tattooPortfolio div div, .mDesignPortfolio, .mDesignPortfolio div, .mDesignPortfolio div div, .intro, .intro .introRight, .nicolas, .music, .nicolas div, .music div, .crossfit, .crossfit div, .contact1 {
  display: flex;
  justify-content: center;
  align-items: center; }

.uiUxSection div .left, .mDesignSection div .left, .intro .introLeft, .nicolas div .left, .music div .left {
  display: flex;
  flex-direction: column;
  align-items: baseline; }

.wDeveloperSection div .right, .tattooSection div .right, .crossfit div .right {
  display: flex;
  flex-direction: column;
  align-items: end; }

.uxUiWebService div a:hover, .tattoosService div a:hover, .mGraphicsService div a:hover, .uxUiWebPortfolio div a:hover, .tattooPortfolio div a:hover, .mDesignPortfolio div a:hover, .uxUiWebService div a, .tattoosService div a, .mGraphicsService div a, .uxUiWebPortfolio div a, .tattooPortfolio div a, .mDesignPortfolio div a {
  width: 154px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B11C15;
  border-radius: 15px;
  font-size: 32px;
  font-family: groteskBold;
  color: white;
  text-decoration: none;
  margin-left: 20px; }

.uxUiWebService div a:hover, .tattoosService div a:hover, .mGraphicsService div a:hover, .uxUiWebPortfolio div a:hover, .tattooPortfolio div a:hover, .mDesignPortfolio div a:hover {
  background-color: white;
  color: #13141E;
  transition: 0.5s;
  text-decoration: none; }

@font-face {
  font-family: groteskWideBold;
  src: url(../../fonts/HKGroteskWide-ExtraBold.otf); }

@font-face {
  font-family: groteskBold;
  src: url(../../fonts/HKGrotesk-Bold.ttf); }

@font-face {
  font-family: otfGlusp;
  src: url(../../fonts/OTF-Glusp.ttf); }

@font-face {
  font-family: chakraM;
  src: url(../../fonts/ChakraPetch-Medium.ttf); }

@font-face {
  font-family: chakraB;
  src: url(../../fonts/ChakraPetch-Bold.ttf); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 74.69px;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1; }
  header .nav-bar {
    width: 790px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
    margin-top: 37px; }
    header .nav-bar nav {
      width: 100%;
      height: 100%;
      background-image: url("../img/papel-arrugado.jpg");
      background-position: center;
      background-size: cover;
      border-radius: 10px; }
      header .nav-bar nav input, header .nav-bar nav label {
        display: none; }
      header .nav-bar nav .logo {
        width: 183.14px;
        height: 53.15px; }
      header .nav-bar nav ul {
        list-style: none;
        margin: 0; }
        header .nav-bar nav ul li {
          margin: 0 5px; }
          header .nav-bar nav ul li a {
            text-decoration: none;
            font-size: 16px;
            color: #13141E;
            font-family: groteskWideBold; }
          header .nav-bar nav ul li a.active, header .nav-bar nav ul li a:hover {
            text-decoration: underline; }

.contact {
  width: 100%;
  height: 784px;
  background-color: #13141E; }
  .contact div {
    width: 1440px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .contact div h2 {
      font-size: 64px;
      font-family: otfGlusp;
      margin-bottom: 0;
      color: white;
      margin-bottom: 30px; }
      .contact div h2 span {
        color: #D4D7E8; }
    .contact div p {
      font-family: chakraM;
      font-size: 32px;
      margin-bottom: 17px;
      text-align: center;
      color: #A1A4BC;
      margin-bottom: 70px; }
      .contact div p span {
        color: #D4D7E8;
        font-family: chakraB; }
    .contact div div {
      width: 100%;
      display: flex;
      flex-direction: row; }
      .contact div div .nameContact input {
        background-color: #13141E;
        border-style: none;
        border-bottom: solid 2px white;
        border-radius: 0; }
        .contact div div .nameContact input ::placeholder {
          color: #303142;
          font-family: chakraM; }
      .contact div div .emailContact input {
        background-color: #13141E;
        border-style: none;
        border-bottom: solid 2px white;
        border-radius: 0; }
        .contact div div .emailContact input ::placeholder {
          color: #303142;
          font-family: chakraM; }
    .contact div .textContact textarea {
      background-color: #13141E;
      border-radius: 0;
      border-style: none;
      border-bottom: solid 2px white; }

@media (min-width: 1024px) and (max-width: 1440px) {
  .contact div {
    width: 1024px; } }

@media (min-width: 758px) and (max-width: 1024px) {
  .contact div {
    width: 758px; } }

.redRibbon {
  width: 100%;
  height: 80px;
  background-color: #B11C15; }

footer {
  width: 100%;
  height: 687px;
  background-color: #13141E; }
  footer .containerFooter {
    width: 1440px;
    height: auto; }
    footer .containerFooter h3 {
      font-size: 40px;
      color: #D4D7E8;
      font-family: otfGlusp;
      margin-bottom: 30px; }
    footer .containerFooter .info {
      width: 100%;
      height: 262px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      border-bottom: solid 2px white; }
      footer .containerFooter .info .linksInfo {
        display: flex;
        flex-direction: column; }
        footer .containerFooter .info .linksInfo a {
          color: white;
          font-size: 16px;
          font-family: otfGlusp;
          text-decoration: none;
          margin-bottom: 20px;
          transition: 0.5s; }
        footer .containerFooter .info .linksInfo a:hover {
          color: #B11C15; }
      footer .containerFooter .info .contactInfo {
        display: flex;
        flex-direction: column; }
        footer .containerFooter .info .contactInfo p {
          color: white;
          font-size: 16px;
          margin-bottom: 20px;
          font-family: otfGlusp; }
    footer .containerFooter .containerBottom {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      footer .containerFooter .containerBottom img {
        width: 151px;
        height: 43.82px;
        border-radius: 5px; }
      footer .containerFooter .containerBottom a {
        color: white;
        font-size: 30px;
        margin-left: 20px;
        transition: 0.5s; }
      footer .containerFooter .containerBottom a:hover {
        color: #B11C15; }

@media (min-width: 1024px) and (max-width: 1440px) {
  footer .containerFooter {
    width: 1024px; } }

@media (min-width: 758px) and (max-width: 1024px) {
  footer {
    height: 520px; }
    footer .containerFooter {
      width: 758px; }
      footer .containerFooter h3 {
        text-align: center;
        margin-bottom: 0; }
      footer .containerFooter .info {
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        footer .containerFooter .info a {
          display: none; }
        footer .containerFooter .info p {
          text-align: center; } }

.heroSection {
  width: 100%;
  height: 927px;
  background-color: aqua; }
  .heroSection .leftSide {
    width: 70%;
    height: 927px;
    background-color: #13141E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 240px; }
    .heroSection .leftSide h2 {
      font-family: otfGlusp;
      font-size: 42px;
      color: #fff; }
      .heroSection .leftSide h2 span {
        color: #2b2d42; }
    .heroSection .leftSide p {
      font-family: chakraM;
      font-size: 32px;
      color: #a2a4bc; }
    .heroSection .leftSide .letsWorkButton {
      width: 315px;
      height: 62px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      background-color: #B11C15;
      font-family: groteskBold;
      font-size: 32px;
      color: white;
      text-decoration: none; }
    .heroSection .leftSide .letsWorkButton:hover {
      width: 315px;
      height: 62px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      background-color: #B11C15;
      font-family: groteskBold;
      font-size: 32px;
      color: white;
      text-decoration: none;
      background-color: white;
      color: #b11c15;
      transition: 0.5s;
      text-decoration: none; }
  .heroSection .rightSide {
    width: 30%;
    height: 927px;
    background-image: url(../img/papel-arrugado.jpg);
    background-size: cover;
    background-repeat: none;
    display: flex;
    align-items: center;
    position: relative; }
    .heroSection .rightSide .imgHero {
      width: 745px;
      height: 745px;
      position: absolute;
      right: 30%; }

.secondMenu {
  width: 100%;
  height: 103px;
  background-color: #0B0A12; }
  .secondMenu .content {
    width: 1440px;
    height: 100%; }
    .secondMenu .content a {
      font-family: otfGlusp;
      font-size: 26px;
      margin: 0 15px;
      color: #C9C9C9;
      text-decoration: none; }
    .secondMenu .content a:hover {
      color: #B11C15;
      transition: 0.5s; }
    .secondMenu .content .circleL {
      width: 21px;
      height: 21px;
      background-color: #2B2D42;
      border-radius: 50px; }

.uiUxSection, .mDesignSection {
  width: 100%;
  height: 527px;
  background-color: #13141E; }
  .uiUxSection div, .mDesignSection div {
    width: 1440px;
    height: 100%;
    display: flex;
    align-items: center; }
    .uiUxSection div .left, .mDesignSection div .left {
      width: 60%;
      height: auto; }
      .uiUxSection div .left h2, .mDesignSection div .left h2 {
        font-size: 64px;
        font-family: otfGlusp;
        margin-bottom: 0;
        color: white; }
      .uiUxSection div .left p, .mDesignSection div .left p {
        font-family: chakraM;
        font-size: 32px;
        margin-bottom: 17px;
        color: #a1a4bc; }
        .uiUxSection div .left p span, .mDesignSection div .left p span {
          color: #d4d7e8;
          font-family: chakraB; }
      .uiUxSection div .left .buttons, .mDesignSection div .left .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: baseline; }
        .uiUxSection div .left .buttons .letsWorkButton, .mDesignSection div .left .buttons .letsWorkButton {
          width: 315px;
          height: 62px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          background-color: #B11C15;
          font-family: groteskBold;
          font-size: 32px;
          color: white;
          text-decoration: none; }
        .uiUxSection div .left .buttons .letsWorkButton:hover, .mDesignSection div .left .buttons .letsWorkButton:hover {
          width: 315px;
          height: 62px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          background-color: #B11C15;
          font-family: groteskBold;
          font-size: 32px;
          color: white;
          text-decoration: none;
          background-color: white;
          color: #b11c15;
          transition: 0.5s;
          text-decoration: none; }
        .uiUxSection div .left .buttons .portfolioButton, .mDesignSection div .left .buttons .portfolioButton {
          width: 154px;
          height: 62px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #e7e4e4;
          border-radius: 15px;
          font-size: 32px;
          font-family: groteskBold;
          color: #13141e;
          text-decoration: none;
          margin-left: 20px; }
        .uiUxSection div .left .buttons .portfolioButton:hover, .mDesignSection div .left .buttons .portfolioButton:hover {
          width: 154px;
          height: 62px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #e7e4e4;
          border-radius: 15px;
          font-size: 32px;
          font-family: groteskBold;
          color: #13141e;
          text-decoration: none;
          margin-left: 20px;
          background-color: #0B0A12;
          color: #E7E4E4;
          transition: 0.5s;
          text-decoration: none; }
    .uiUxSection div .right, .mDesignSection div .right {
      width: 40%;
      height: 100%;
      position: relative; }
      .uiUxSection div .right img, .mDesignSection div .right img {
        width: 120%;
        height: 120%;
        position: absolute;
        top: 27px; }

.wDeveloperSection, .tattooSection {
  width: 100%;
  height: 527px;
  background-image: url(../img/papel-arrugado.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .wDeveloperSection div, .tattooSection div {
    width: 1440px;
    height: 100%;
    display: flex;
    align-items: center; }
    .wDeveloperSection div .left, .tattooSection div .left {
      width: 40%;
      height: 100%;
      position: relative; }
      .wDeveloperSection div .left img, .tattooSection div .left img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 30px; }
    .wDeveloperSection div .right, .tattooSection div .right {
      width: 60%;
      height: auto; }
      .wDeveloperSection div .right h2, .tattooSection div .right h2 {
        font-size: 64px;
        font-family: otfGlusp;
        margin-bottom: 0;
        color: #13141E;
        text-align: end; }
      .wDeveloperSection div .right p, .tattooSection div .right p {
        font-family: chakraM;
        font-size: 32px;
        margin-bottom: 17px;
        color: #3A3D57;
        text-align: end; }
        .wDeveloperSection div .right p span, .tattooSection div .right p span {
          color: #13141E;
          font-family: chakraB; }
      .wDeveloperSection div .right .buttons, .tattooSection div .right .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: end; }
        .wDeveloperSection div .right .buttons .letsWorkButton, .tattooSection div .right .buttons .letsWorkButton {
          width: 315px;
          height: 62px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          background-color: #B11C15;
          font-family: groteskBold;
          font-size: 32px;
          color: white;
          text-decoration: none; }
        .wDeveloperSection div .right .buttons .letsWorkButton:hover, .tattooSection div .right .buttons .letsWorkButton:hover {
          width: 315px;
          height: 62px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          background-color: #B11C15;
          font-family: groteskBold;
          font-size: 32px;
          color: white;
          text-decoration: none;
          background-color: white;
          color: #b11c15;
          transition: 0.5s;
          text-decoration: none;
          background-color: #13141E;
          color: white; }
        .wDeveloperSection div .right .buttons .portfolioButton, .tattooSection div .right .buttons .portfolioButton {
          width: 154px;
          height: 62px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #e7e4e4;
          border-radius: 15px;
          font-size: 32px;
          font-family: groteskBold;
          color: #13141e;
          text-decoration: none;
          margin-left: 20px;
          background-color: #13141E;
          color: white; }
        .wDeveloperSection div .right .buttons .portfolioButton:hover, .tattooSection div .right .buttons .portfolioButton:hover {
          width: 154px;
          height: 62px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #e7e4e4;
          border-radius: 15px;
          font-size: 32px;
          font-family: groteskBold;
          color: #13141e;
          text-decoration: none;
          margin-left: 20px;
          background-color: #0B0A12;
          color: #E7E4E4;
          transition: 0.5s;
          text-decoration: none;
          background-color: #B11C15; }

@media (min-width: 1024px) and (max-width: 1440px) {
  .heroSection {
    height: 758px; }
    .heroSection .leftSide {
      height: 100%;
      padding: 0 180px; }
      .heroSection .leftSide h2 {
        font-size: 36px; }
      .heroSection .leftSide p {
        font-size: 28px; }
    .heroSection .rightSide {
      height: 100%; }
      .heroSection .rightSide .imgHero {
        width: 536px;
        height: 536px; }
  .secondMenu .content {
    width: 1024px; }
    .secondMenu .content a {
      font-size: 22px;
      margin: 7px; }
    .secondMenu .content .circleL {
      width: 16px;
      height: 16px; }
  .uiUxSection, .mDesignSection {
    height: 402px; }
    .uiUxSection div, .mDesignSection div {
      width: 1024px; }
      .uiUxSection div .left h2, .mDesignSection div .left h2 {
        font-size: 48px;
        font-family: otfGlusp;
        margin-bottom: 0; }
      .uiUxSection div .left p, .mDesignSection div .left p {
        font-family: chakraM;
        font-size: 22px;
        margin-bottom: 17px; }
  .wDeveloperSection, .tattooSection {
    height: 402px; }
    .wDeveloperSection div, .tattooSection div {
      width: 1024px; }
      .wDeveloperSection div .right h2, .tattooSection div .right h2 {
        font-size: 48px;
        font-family: otfGlusp;
        margin-bottom: 0; }
      .wDeveloperSection div .right p, .tattooSection div .right p {
        font-family: chakraM;
        font-size: 22px;
        margin-bottom: 17px; } }

@media (min-width: 758px) and (max-width: 1024px) {
  .heroSection {
    height: 1074px;
    flex-direction: column-reverse; }
    .heroSection .leftSide {
      width: 100%;
      height: 561px;
      align-items: center; }
      .heroSection .leftSide h2 {
        font-size: 36px;
        text-align: center; }
      .heroSection .leftSide p {
        font-size: 26px;
        text-align: center; }
    .heroSection .rightSide {
      width: 100%;
      height: 515px;
      justify-content: center; }
      .heroSection .rightSide .imgHero {
        right: inherit;
        top: 80px; }
  .secondMenu {
    display: none; }
  .uiUxSection, .mDesignSection {
    height: 975px; }
    .uiUxSection div, .mDesignSection div {
      width: 758px;
      flex-direction: column-reverse; }
      .uiUxSection div .left, .mDesignSection div .left {
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 150px; }
        .uiUxSection div .left h2, .mDesignSection div .left h2 {
          text-align: center; }
        .uiUxSection div .left p, .mDesignSection div .left p {
          text-align: center; }
        .uiUxSection div .left .buttons, .mDesignSection div .left .buttons {
          justify-content: center; }
      .uiUxSection div .right, .mDesignSection div .right {
        width: 100%; }
        .uiUxSection div .right img, .mDesignSection div .right img {
          width: 628px;
          height: 628px; }
  .wDeveloperSection, .tattooSection {
    height: 975px; }
    .wDeveloperSection div, .tattooSection div {
      width: 758px;
      flex-direction: column; }
      .wDeveloperSection div .right, .tattooSection div .right {
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 150px; }
        .wDeveloperSection div .right h2, .tattooSection div .right h2 {
          text-align: center; }
        .wDeveloperSection div .right p, .tattooSection div .right p {
          text-align: center; }
        .wDeveloperSection div .right .buttons, .tattooSection div .right .buttons {
          justify-content: center; }
      .wDeveloperSection div .left, .tattooSection div .left {
        width: 100%; }
        .wDeveloperSection div .left img, .tattooSection div .left img {
          width: 494px;
          height: 494px; } }

.banner {
  width: 100%;
  height: 925px;
  position: relative; }
  .banner .bannerBG {
    width: 100%;
    height: 100%;
    background-image: url(../img/Services-BG.jpg);
    background-image: cover;
    background-position: center;
    background-repeat: repeat;
    position: absolute; }
  .banner .bannerLogo {
    position: absolute;
    width: 702px;
    height: 256px; }

.uxUiWebService, .tattoosService {
  width: 100%;
  height: 934px;
  background-color: #13141E; }
  .uxUiWebService div, .tattoosService div {
    width: 1440px;
    height: auto;
    flex-direction: column; }
    .uxUiWebService div h2, .tattoosService div h2 {
      font-size: 64px;
      font-family: otfGlusp;
      margin-bottom: 0;
      color: white;
      border-bottom: solid 2px white;
      margin-bottom: 50px; }
    .uxUiWebService div p, .tattoosService div p {
      width: 60%;
      font-family: chakraM;
      font-size: 32px;
      margin-bottom: 17px;
      color: #A1A4BC;
      text-align: center;
      margin-bottom: 50px; }
      .uxUiWebService div p span, .tattoosService div p span {
        color: #D4D7E8;
        font-family: chakraB; }
    .uxUiWebService div div, .tattoosService div div {
      flex-direction: row; }

.mGraphicsService {
  width: 100%;
  height: 934px;
  background-image: url(../img/papel-arrugado.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .mGraphicsService div {
    width: 1440px;
    height: auto;
    flex-direction: column; }
    .mGraphicsService div h2 {
      font-size: 64px;
      font-family: otfGlusp;
      margin-bottom: 0;
      color: #13141E;
      border-bottom: solid 2px #13141E;
      margin-bottom: 50px; }
    .mGraphicsService div p {
      width: 60%;
      font-family: chakraM;
      font-size: 32px;
      margin-bottom: 17px;
      color: #3A3D57;
      text-align: center;
      margin-bottom: 50px; }
      .mGraphicsService div p span {
        color: #13141E;
        font-family: chakraB; }
    .mGraphicsService div div {
      flex-direction: row; }
    .mGraphicsService div a:hover {
      color: white;
      background-color: #13141E; }

@media (min-width: 1024px) and (max-width: 1440px) {
  .banner {
    height: 695px; }
  .uxUiWebService, .tattoosService {
    height: 827px; }
    .uxUiWebService div, .tattoosService div {
      width: 1024px; }
      .uxUiWebService div h2, .tattoosService div h2 {
        font-size: 48px;
        font-family: otfGlusp;
        margin-bottom: 0;
        margin-bottom: 40px; }
      .uxUiWebService div p, .tattoosService div p {
        font-family: chakraM;
        font-size: 22px;
        margin-bottom: 17px;
        width: 80%;
        margin-bottom: 50px; }
      .uxUiWebService div div img, .tattoosService div div img {
        width: 296.82px;
        height: 337.04px; }
      .uxUiWebService div div .pic4, .tattoosService div div .pic4 {
        display: none; }
  .mGraphicsService {
    height: 827px; }
    .mGraphicsService div {
      width: 1024px; }
      .mGraphicsService div h2 {
        font-size: 48px;
        font-family: otfGlusp;
        margin-bottom: 0;
        margin-bottom: 40px; }
      .mGraphicsService div p {
        font-family: chakraM;
        font-size: 22px;
        margin-bottom: 17px;
        width: 80%;
        margin-bottom: 50px; }
      .mGraphicsService div div img {
        width: 296.82px;
        height: 337.04px; }
      .mGraphicsService div div .pic4 {
        display: none; } }

@media (min-width: 758px) and (max-width: 1024px) {
  .banner {
    height: 493px; }
    .banner .bannerLogo {
      width: 320px;
      height: auto; }
  .uxUiWebService, .tattoosService {
    height: 1315px; }
    .uxUiWebService div, .tattoosService div {
      width: 758px; }
      .uxUiWebService div h2, .tattoosService div h2 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 10; }
      .uxUiWebService div p, .tattoosService div p {
        width: 100%;
        margin-bottom: 25px; }
      .uxUiWebService div div, .tattoosService div div {
        flex-wrap: wrap; }
        .uxUiWebService div div .pic4, .tattoosService div div .pic4 {
          display: inherit; }
  .mGraphicsService {
    height: 1315px; }
    .mGraphicsService div {
      width: 758px; }
      .mGraphicsService div h2 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 10; }
      .mGraphicsService div p {
        width: 100%;
        margin-bottom: 25px; }
      .mGraphicsService div div {
        flex-wrap: wrap; }
        .mGraphicsService div div .pic4 {
          display: inherit; } }

.uxUiWebPortfolio, .tattooPortfolio {
  width: 100%;
  height: 1226px;
  background-color: #13141E; }
  .uxUiWebPortfolio div, .tattooPortfolio div {
    width: 1440px;
    height: auto;
    flex-direction: column; }
    .uxUiWebPortfolio div h2, .tattooPortfolio div h2 {
      font-size: 64px;
      font-family: otfGlusp;
      margin-bottom: 0;
      color: white;
      border-bottom: solid 2px white;
      margin-bottom: 50px; }
    .uxUiWebPortfolio div div, .tattooPortfolio div div {
      width: 100%;
      height: auto;
      flex-direction: row; }
    .uxUiWebPortfolio div a, .tattooPortfolio div a {
      width: 190px; }
    .uxUiWebPortfolio div a:hover, .tattooPortfolio div a:hover {
      width: 190px; }

.mDesignPortfolio {
  width: 100%;
  height: 1226px;
  background-image: url(../img/papel-arrugado.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .mDesignPortfolio div {
    width: 1140px;
    height: auto;
    flex-direction: column; }
    .mDesignPortfolio div h2 {
      font-size: 64px;
      font-family: otfGlusp;
      margin-bottom: 0;
      color: #13141E;
      border-bottom: solid 2px #13141E;
      margin-bottom: 50px; }
    .mDesignPortfolio div div {
      width: 100%;
      height: auto;
      flex-direction: row; }
    .mDesignPortfolio div a {
      width: 190px; }
    .mDesignPortfolio div a:hover {
      width: 190px;
      color: white;
      background-color: #13141E; }

@media (min-width: 1024px) and (max-width: 1440px) {
  .uxUiWebPortfolio, .tattooPortfolio {
    height: 1065px; }
    .uxUiWebPortfolio div, .tattooPortfolio div {
      width: 1024px; }
      .uxUiWebPortfolio div h2, .tattooPortfolio div h2 {
        font-size: 48px;
        font-family: otfGlusp;
        margin-bottom: 0;
        margin-bottom: 50px; }
      .uxUiWebPortfolio div div img, .tattooPortfolio div div img {
        width: 296.82px;
        height: 337.04px; }
      .uxUiWebPortfolio div div .pic4, .tattooPortfolio div div .pic4 {
        display: none; }
      .uxUiWebPortfolio div .secondPics, .tattooPortfolio div .secondPics {
        margin-bottom: 50px; }
  .mDesignPortfolio {
    height: 1065px; }
    .mDesignPortfolio div {
      width: 1024px; }
      .mDesignPortfolio div h2 {
        font-size: 48px;
        font-family: otfGlusp;
        margin-bottom: 0;
        margin-bottom: 50px; }
      .mDesignPortfolio div div img {
        width: 296.82px;
        height: 337.04px; }
      .mDesignPortfolio div div .pic4 {
        display: none; }
      .mDesignPortfolio div div .secondPics {
        margin-bottom: 50px; } }

@media (min-width: 758px) and (max-width: 1024px) {
  .uxUiWebPortfolio, .tattooPortfolio {
    height: 2066px; }
    .uxUiWebPortfolio div, .tattooPortfolio div {
      width: 758px; }
      .uxUiWebPortfolio div h2, .tattooPortfolio div h2 {
        font-size: 50px;
        text-align: center; }
      .uxUiWebPortfolio div div, .tattooPortfolio div div {
        flex-wrap: wrap; }
        .uxUiWebPortfolio div div .pic4, .tattooPortfolio div div .pic4 {
          display: inherit; }
  .mDesignPortfolio {
    height: 2066px; }
    .mDesignPortfolio div {
      width: 758px; }
      .mDesignPortfolio div h2 {
        font-size: 50px;
        text-align: center; }
      .mDesignPortfolio div div {
        flex-wrap: wrap; }
        .mDesignPortfolio div div .pic4 {
          display: inherit; } }

.contactContainer {
  width: 100%;
  height: 925px;
  display: flex;
  align-items: center; }
  .contactContainer .map {
    width: 60%;
    height: 100%;
    background-image: url("../img/map-contact.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .contactContainer .contactInfo {
    width: 40%;
    height: 100%;
    background-color: #13141E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 55px; }
    .contactContainer .contactInfo .contactTitle {
      color: #D4D7E8;
      font-size: 36px;
      font-family: otfGlusp;
      margin-bottom: 12px; }
    .contactContainer .contactInfo .contactP {
      color: white;
      font-size: 30px;
      font-family: chakraB;
      margin-bottom: 50px; }

@media (min-width: 1024px) and (max-width: 1440px) {
  .contactContainer {
    height: 703px; }
    .contactContainer .contactInfo {
      padding-left: 64px;
      padding-top: 100px; }
      .contactContainer .contactInfo .contactTitle {
        margin-bottom: 0px; }
      .contactContainer .contactInfo .contactP {
        font-size: 26px;
        margin-bottom: 30px; } }

@media (min-width: 758px) and (max-width: 1024px) {
  .contactContainer {
    height: 812px; }
    .contactContainer .map {
      display: none; }
    .contactContainer .contactInfo {
      width: 100%;
      align-items: center; } }

.intro {
  width: 100%;
  height: 923px; }
  .intro .introLeft {
    width: 60%;
    height: 100%;
    background-color: #13141E;
    justify-content: center;
    padding-left: 10%; }
    .intro .introLeft h2 {
      font-size: 64px;
      font-family: otfGlusp;
      margin-bottom: 0;
      color: #2B2D42;
      font-size: 42px; }
      .intro .introLeft h2 span {
        color: white; }
    .intro .introLeft p {
      font-family: chakraM;
      font-size: 32px;
      margin-bottom: 17px;
      color: #a2a4bc; }
    .intro .introLeft a {
      width: 315px;
      height: 62px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      background-color: #B11C15;
      font-family: groteskBold;
      font-size: 32px;
      color: white;
      text-decoration: none; }
    .intro .introLeft a:hover {
      width: 315px;
      height: 62px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      background-color: #B11C15;
      font-family: groteskBold;
      font-size: 32px;
      color: white;
      text-decoration: none;
      background-color: white;
      color: #b11c15;
      transition: 0.5s;
      text-decoration: none; }
  .intro .introRight {
    width: 40%;
    height: 100%;
    background-image: url("../img/papel-arrugado.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    position: relative;
    padding-right: 10%; }
    .intro .introRight img {
      width: 695px;
      height: 695px;
      position: absolute;
      right: 35%; }

.nicolas, .music {
  width: 100%;
  height: 527px;
  background-color: #13141E; }
  .nicolas div, .music div {
    width: 1440px;
    height: 100%; }
    .nicolas div .left, .music div .left {
      width: 60%;
      height: auto; }
      .nicolas div .left h2, .music div .left h2 {
        font-size: 64px;
        font-family: otfGlusp;
        margin-bottom: 0;
        color: white; }
      .nicolas div .left p, .music div .left p {
        font-family: chakraM;
        font-size: 32px;
        margin-bottom: 17px;
        color: #a2a4bc; }
        .nicolas div .left p span, .music div .left p span {
          color: #D4D7E8;
          font-family: chakraB; }
    .nicolas div .right, .music div .right {
      width: 40%;
      height: 100%;
      position: relative; }
      .nicolas div .right img, .music div .right img {
        width: 110%;
        height: 110%;
        position: absolute;
        top: 40px; }

.crossfit {
  width: 100%;
  height: 527px;
  background-image: url("../img/papel-arrugado.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .crossfit div {
    width: 1440px;
    height: 100%; }
    .crossfit div .left {
      width: 40%;
      height: 100%;
      position: relative; }
      .crossfit div .left img {
        width: 110%;
        height: 110%;
        position: absolute;
        top: 40px; }
    .crossfit div .right {
      width: 60%;
      height: 100%; }
      .crossfit div .right h2 {
        font-size: 64px;
        font-family: otfGlusp;
        margin-bottom: 0;
        text-align: end;
        color: #13141E; }
      .crossfit div .right p {
        font-family: chakraM;
        font-size: 32px;
        margin-bottom: 17px;
        color: #3a3a3a;
        text-align: end; }
        .crossfit div .right p span {
          color: #13141E;
          font-family: chakraB; }

.contact1 {
  width: 100%;
  height: 784px;
  background-color: #2B2D42; }
  .contact1 div {
    width: 1440px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .contact1 div h2 {
      font-size: 64px;
      font-family: otfGlusp;
      margin-bottom: 0;
      color: white;
      margin-bottom: 30px; }
      .contact1 div h2 span {
        color: #D4D7E8; }
    .contact1 div p {
      font-family: chakraM;
      font-size: 32px;
      margin-bottom: 17px;
      text-align: center;
      color: #A1A4BC;
      margin-bottom: 70px; }
      .contact1 div p span {
        color: #D4D7E8;
        font-family: chakraB; }
    .contact1 div div {
      width: 100%;
      display: flex;
      flex-direction: row; }
      .contact1 div div .nameContact input {
        background-color: #2B2D42;
        border-style: none;
        border-bottom: solid 2px white;
        border-radius: 0; }
        .contact1 div div .nameContact input ::placeholder {
          color: #303142;
          font-family: chakraM; }
      .contact1 div div .emailContact input {
        background-color: #2B2D42;
        border-style: none;
        border-bottom: solid 2px white;
        border-radius: 0; }
        .contact1 div div .emailContact input ::placeholder {
          color: #303142;
          font-family: chakraM; }
    .contact1 div .textContact textarea {
      background-color: #2B2D42;
      border-radius: 0;
      border-style: none;
      border-bottom: solid 2px white; }

@media (min-width: 1024px) and (max-width: 1440px) {
  .intro {
    height: 758px; }
    .intro .introLeft {
      padding: 0 7%; }
      .intro .introLeft h2 {
        font-size: 36px; }
      .intro .introLeft p {
        font-size: 28px; }
    .intro .introRight img {
      width: 519px;
      height: 519px;
      right: 27%; }
  .nicolas, .music {
    height: 402px; }
    .nicolas div, .music div {
      width: 1024px; }
      .nicolas div .left h2, .music div .left h2 {
        font-size: 48px;
        font-family: otfGlusp;
        margin-bottom: 0; }
      .nicolas div .left p, .music div .left p {
        font-family: chakraM;
        font-size: 22px;
        margin-bottom: 17px; }
      .nicolas div .right img, .music div .right img {
        top: 15px; }
  .crossfit {
    height: 402px; }
    .crossfit div {
      width: 1024px; }
      .crossfit div .right h2 {
        font-size: 48px;
        font-family: otfGlusp;
        margin-bottom: 0; }
      .crossfit div .right p {
        font-family: chakraM;
        font-size: 22px;
        margin-bottom: 17px; }
      .crossfit div .left img {
        top: 15px; }
  .contact1 div {
    width: 1024px; } }

@media (min-width: 758px) and (max-width: 1024px) {
  .intro {
    height: 1028px;
    flex-direction: column-reverse; }
    .intro .introLeft {
      width: 100%;
      height: 513px;
      padding: 0 5%;
      align-items: center; }
      .intro .introLeft h2 {
        font-size: 36px;
        text-align: center; }
      .intro .introLeft p {
        font-size: 26px;
        text-align: center; }
    .intro .introRight {
      width: 100%;
      height: 515px;
      padding-right: 0; }
      .intro .introRight img {
        width: 480px;
        height: 480px;
        right: inherit;
        top: 110px; }
  .nicolas {
    height: 1123px; }
    .nicolas div {
      width: 758px;
      flex-direction: column-reverse; }
      .nicolas div .left {
        width: 100%;
        height: 100%;
        justify-content: start;
        align-items: center; }
        .nicolas div .left h2 {
          text-align: center;
          font-size: 48px;
          margin-bottom: 10px; }
        .nicolas div .left p {
          text-align: center; }
      .nicolas div .right {
        width: 100%;
        height: 100%;
        position: inherit; }
        .nicolas div .right img {
          width: 520px;
          height: auto;
          position: inherit; }
  .crossfit {
    height: 799px; }
    .crossfit div {
      width: 758px;
      flex-direction: column; }
      .crossfit div .left {
        width: 100%;
        height: 40%; }
        .crossfit div .left img {
          width: 562px;
          height: 570px;
          top: -240px; }
      .crossfit div .right {
        width: 100%;
        height: 60%;
        justify-content: start;
        align-items: center; }
        .crossfit div .right h2 {
          text-align: center;
          font-size: 48px;
          margin-bottom: 10px; }
        .crossfit div .right p {
          text-align: center; }
  .music {
    height: 699px; }
    .music div {
      width: 758px;
      flex-direction: column-reverse; }
      .music div .left {
        width: 100%;
        height: 50%;
        justify-content: start;
        align-items: center; }
        .music div .left h2 {
          text-align: center;
          font-size: 48px;
          margin-bottom: 10px; }
        .music div .left p {
          text-align: center; }
      .music div .right {
        width: 100%;
        height: 50%; }
        .music div .right img {
          width: 520px;
          height: auto;
          top: -165px; }
  .contact1 div {
    width: 758px; } }
