
//===============================================//
//================ 1920px - 1440px ==============//
//===============================================//
    
    
//========= HEADER =========//

header {
    width: 100%;
    height: 74.69px;
    display: flex;
    justify-content: center;
    position:fixed;
    z-index: 1;

    .nav-bar {
        width: 790px;
        height: 100%;
        border-radius: 10px;
        box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
        margin-top: 37px;

        nav {
            width: 100%;
            height: 100%;
            background-image: url("../img/papel-arrugado.jpg");
            background-position: center;
            background-size: cover;
            @extend %flexCenter;
            border-radius: 10px;

            input, label {
                display: none;
            }

            .logo {
                width: 183.14px;
                height: 53.15px; 
            }

            ul {
                @extend %flexCenter;
                list-style: none;
                margin: 0;
    
                li {
                    margin: 0 5px;
    
                    a {
                        text-decoration: none;
                        font-size:  16px;
                        color: #13141E;
                        font-family: groteskWideBold;
                    }
    
                    a.active, a:hover{
                        text-decoration: underline;     
                    }
                }
            }
        }
    }
}

//========= FINAL HEADER =========//








//===============================================//
//================ 1024px - 758px ==============//
//===============================================//







