
//===============================================//
//================ 1920px - 1440px ==============//
//===============================================//
    
    
//========= HEADER =========//

header {
    width: 100%;
    height: 74.69px;
    display: flex;
    justify-content: center;
    position:fixed;
    z-index: 1;

    .nav-bar {
        width: 790px;
        height: 100%;
        border-radius: 10px;
        box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
        margin-top: 37px;

        nav {
            width: 100%;
            height: 100%;
            background-image: url("../img/papel-arrugado.jpg");
            background-position: center;
            background-size: cover;
            @extend %flexCenter;
            border-radius: 10px;

            input, label {
                display: none;
            }

            .logo {
                width: 183.14px;
                height: 53.15px; 
            }

            ul {
                @extend %flexCenter;
                list-style: none;
                margin: 0;
    
                li {
                    margin: 0 5px;
    
                    a {
                        text-decoration: none;
                        font-size:  16px;
                        color: #13141E;
                        font-family: groteskWideBold;
                    }
    
                    a.active, a:hover{
                        text-decoration: underline;     
                    }
                }
            }
        }
    }
}

//========= FINAL HEADER =========//








//===============================================//
//================ 758px - 425px ==============//
//===============================================//





@media (min-width:425px) and (max-width:758px){



    header {
        height: 75px;

        .nav-bar {
            width: 100%;
            border-radius: 0;
            margin-top: 0;

            nav {
                border-radius: 0;
                justify-content: space-between;
                padding: 0 30px;

                label {
                    display: flex;
                    order: 1;
                    font-size: 25px;
                }

                .logo {
                    width: 148.62px;
                    height: 46.33px;
                }

                ul {
                    position: fixed;
                    width: 100%;
                    height: 100vh;
                    background-color: #13141E;
                    top: 75px;
                    left: -100%;
                    text-align: center;
                    transition: all .5s;
                    flex-direction: column;

                    li{
                        margin: 50px 0;

                        a {
                            color: white;
                            font-size: 30px;
                        }
                    }
                }

                #check:checked ~ ul{
                    left: 0;
                }
            }
        }
    }

    #check:checked ~ .carouselContainer{
        display: none;
    }


}










