//===============================================//
//================ 1920px - 1440px ==============//
//===============================================//
    
    
    
    
    
    
    
//================== INTRO ================//






.intro {
    width: 100%;
    height: 923px;
    @extend %flexCenter;

    .introLeft {
        width: 60%;
        height: 100%;
        background-color: #13141E;
        @extend %flexBase;
        justify-content: center;
        padding: 0 10%;

        h2{
            @include webH2();
            color: #2B2D42;
            font-size: 42px;

            span {
                color: white;
            }
        }

        p {
            @include webP();
            color: #a2a4bc;    
        }

        a {
            @include letsWorkButton1();
        }

        a:hover {
            @include letsWorkButtonHover
        }
    }

    .introRight {
        width: 40%;
        height: 100%;
        background-image: url("../img/papel-arrugado.jpg");
        background-position: center;
        background-repeat: none;
        background-size: cover;
        position: relative;
        @extend %flexCenter;
        padding-right: 10%;

        img {
            width: 695px;
            height: 695px;
            position: absolute;
            right: 35%;
        }
    }
}










//================== INTRO FINAL ================//
















//================== NICOLAS & MUSIC ================//









.nicolas, .music {
    width: 100%;
    height: 527px;
    background-color: #13141E;
    @extend %flexCenter;

    div {
        width: 1440px;
        height: 100%;
        @extend %flexCenter;

        .left {
            width: 60%;
            height: auto;
            @extend %flexBase;

            h2 {
                @include webH2();
                color: white;
            }

            p {
                @include webP();
                color: #a2a4bc;

                span {
                    color: #D4D7E8;
                    font-family: chakraB;
                }
            }
        }

        .right {
            width: 40%;
            height: 100%;
            position: relative;

            img {
                width: 110%;
                height: 110%;
                position: absolute;
                top: 40px;
            }
        }
    }
}















//================== NICOLAS & MUSIC FINAL ================//


















//================== CROSSFIT ================//













.crossfit {
    width: 100%;
    height: 527px;
    background-image: url("../img/papel-arrugado.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @extend %flexCenter;

    div {
        width: 1440px;
        height: 100%;
        @extend %flexCenter;

        .left {
            width: 40%;
            height: 100%;
            position: relative;

            img {
                width: 110%;
                height: 110%;
                position: absolute;
                top: 40px;
            }
        }

        .right {
            width: 60%;
            height: 100%;
            @extend %flexEnd;

            h2 {
                @include webH2();
                text-align: end;
                color: #13141E;
            }

            p {
                @include webP();
                color: #3a3a3a;
                text-align: end;

                span {
                    color: #13141E;
                    font-family: chakraB;
                }
            }
        }
    }
}















//================== CROSSFIT FINAL ================//
















//================== CONTACT ================//







.contact1 {
    width: 100%;
    height: 784px;
    background-color: #2B2D42;
    @extend %flexCenter;

    div {
        width: 1440px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            @include webH2();
            color: white;
            margin-bottom: 30px;

            span {
                color: #D4D7E8;
            }
        }

        p {
            @include webP();
            text-align: center;
            color: #A1A4BC;
            margin-bottom: 70px;

            span {
                color: #D4D7E8;
                font-family: chakraB;
            }
        }

        div {
            width: 100%;
            display: flex;
            flex-direction: row;

            .nameContact {

                input {
                    background-color: #2B2D42;
                    border-style: none;
                    border-bottom: solid 2px white;
                    border-radius: 0;
                    
                    ::placeholder {
                        color: #303142;
                        font-family: chakraM;
                    }
                }
            }

            .emailContact {

                input {
                    background-color: #2B2D42;
                    border-style: none;
                    border-bottom: solid 2px white;
                    border-radius: 0;

                    ::placeholder {
                        color: #303142;
                        font-family: chakraM;
                    }
                }
            }     
        }

        .textContact {

            textarea {
                background-color: #2B2D42;
                border-radius: 0;
                border-style: none;
                border-bottom: solid 2px white;
            }
        }
    }
}






//================== CONTACT ================//






//===============================================//
//================ ABOUT ME FINAL ==============//
//===============================================//









//===============================================//
//================ screen - 1660px ==============//
//===============================================//











@media screen and (max-width:1660px) {




//================== INTRO ================//




.intro {

    .introRight {

        img {
            right: 20%;
        }
    }
}






//================== INTRO FINAL ================//






//================== NICO, MUSIC ================//




.nicolas, .music {

    div {

        .right {

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}




//================== NICO, MUSIC FINAL ================//


}










//===============================================//
//================ 1439px - 1024px ==============//
//===============================================//




@media (min-width:1024px) and (max-width:1440px) {





//================== INTRO ================//


    .intro{
        height: 758px;

        .introLeft {
            padding: 0 7%;

            h2 {
                font-size: 36px;
            }

            p {
               font-size: 28px; 
            }
        }

        .introRight {

            img {
                width: 519px;
                height: 519px;
                right: 27%;
            }
        }
    }       




//================== INTRO FINAL ================//





//================== NICOLAS / MUSIC ================//




    .nicolas, .music{
        height: 402px;

        div {
            width: 1024px;

            .left {

                h2 {
                    @include webH2-1440();
                }

                p {
                    @include webP-1440();
                }
            }

            .right {

                img {
                    top: 15px;
                }
            }
        }
    }



//================== NICOLAS / MUSIC FINAL ================//



//================== CROSSFIT ================//




.crossfit {
    height: 402px;

    div {
        width: 1024px;

        .right {

            h2 {
                @include webH2-1440();
            }

            p {
                @include webP-1440();
            }
        }

        .left {

            img {
                top: 15px;
            }
        }
    }
}


//================== CROSSFIT FINAL ================//



//================== CONTACT 1 ================//



    .contact1 {

        div {
            width: 1024px;

        }
    } 



//================== CONTACT 1 FINAL ================//




}








//===============================================//
//================ screen - 1234px ==============//
//===============================================//









@media screen and (max-width:1234px) {





    //================== INTRO ================//




    .intro {

        .introRight {
    
            img {
                right: 15%;
            }
        }
    }




    //================== INTRO FINAL ================//


}











//===============================================//
//================ 1024px - 758px ==============//
//===============================================//





@media (min-width:758px) and (max-width:1024px){




//================== INTRO ================//





.intro {
    height: 1028px;
    flex-direction: column-reverse;

    .introLeft {
        width: 100%;
        height: 513px;
        padding: 0 5%;
        align-items: center;

        h2{
            font-size: 36px;
            text-align: center;
        }

        p {
            font-size: 26px;
            text-align: center;
        }
    }

    .introRight {
        width: 100%;
        height: 515px;
        padding-right: 0;

        img {
            width: 480px;
            height: 480px;
            right: inherit;
            top: 110px;
        }
    }
}



//================== INTRO FINAL ================//



//================== NICOLAS ================//




    .nicolas{
        height: 1123px;

        div {
            width: 758px;
            flex-direction: column-reverse;

            .left {
                width: 100%;
                height: 100%;
                justify-content: start;
                align-items: center;

                h2 {
                    text-align: center;
                    font-size: 48px;
                    margin-bottom: 10px;
                }

                p {
                    text-align: center;
                }
            }

            .right {
                width: 100%;
                height: 100%;
                position: inherit;   

                img {
                    width: 520px;
                    height: auto;
                    position: inherit;
                }
            }
        }
    }





//================== NICOLAS FINAL ================//

//================== CROSSFIT ================//





.crossfit {
    height: 799px;

    div {
        width: 758px;
        flex-direction: column;

        .left {
            width: 100%;
            height: 40%;

            img {
                width: 562px;
                height: 570px;
                top: -240px;
            }
        }

        .right {
            width: 100%;
            height: 60%;
            justify-content: start;
            align-items: center;

            h2 {
                text-align: center;
                font-size: 48px;
                margin-bottom: 10px;
            }

            p{
                text-align: center; 
            }
        }
    }
}





//================== CROSSFIT FINAL ================//




//================== MUSIC ================//




.music{
    height: 699px;

    div {
        width: 758px;
        flex-direction: column-reverse;

        .left {
            width: 100%;
            height: 50%;
            justify-content: start;
            align-items: center;

            h2 {
                text-align: center;
                font-size: 48px;
                margin-bottom: 10px;
            }

            p {
                text-align: center;
            }
        }

        .right {
            width: 100%;
            height: 50%;

            img {
                width: 520px;
                height: auto;
                top: -165px;
            }
        }
    }
}




//================== MUSIC FINAL ================//



//================== CONTACT ================//


.contact1 {

    div {
        width: 758px;
    }
}



//================== CONTACT FINAL ================//



}







//===============================================//
//================ 758px - 425px ==============//
//===============================================//





@media (min-width:425px) and (max-width:758px){





    .intro {
        height: 790px;
        flex-direction: column-reverse;
        padding-top: 75px;
    
        .introLeft {
            width: 100%;
            height: 315px;
            padding: 0 5%;
            align-items: center;
    
            h2{
                font-size: 25px;
                text-align: center;
            }
    
            p {
                font-size: 22px;
                text-align: center;
            }

            a{
                width: 262px;
                height: 44px;
                font-size: 26px;
                border-radius: 10px;
            }
        }
    
        .introRight {
            width: 100%;
            height: 475px;
            padding-right: 0;
    
            img {
                width: 480px;
                height: 480px;
                right: inherit;
                top: 10px;
            }
        }
    }
    
    
    
    //================== INTRO FINAL ================//
    
    
    
    //================== NICOLAS & MUSIC ================//
    
    
    
    
        .nicolas, .music{
            height: 734px;
    
            div {
                width: 425px;
                flex-direction: column-reverse;
                margin-top: 20px;
    
                .left {
                    width: 100%;
                    height: 100%;
                    justify-content: start;
                    align-items: center;
    
                    h2 {
                        text-align: center;
                        font-size: 38px;
                        margin-bottom: 10px;
                    }
    
                    p {
                        text-align: center;
                        font-size: 22px;
                    }
                }
    
                .right {
                    width: 100%;
                    height: 100%;
                    position: inherit;   
    
                    img {
                        width: 400px;
                        height: auto;
                        position: inherit;
                    }
                }
            }
        }
    
    
    
    
    
    //================== NICOLAS & MUSIC FINAL ================//





    //================== MUSIC ================//




    .crossfit {
        height: 734px;
    
            div {
                width: 425px;
                flex-direction: column;
                margin-top: 20px;
    
                .right {
                    width: 100%;
                    height: 100%;
                    justify-content: start;
                    align-items: center;
    
                    h2 {
                        text-align: center;
                        font-size: 38px;
                        margin-bottom: 10px;
                    }
    
                    p {
                        text-align: center;
                        font-size: 22px;
                    }
                }
    
                .left {
                    width: 100%;
                    height: 100%;
                    position: inherit;   
    
                    img {
                        width: 400px;
                        height: auto;
                        position: inherit;
                    }
                }
            }
        }
    



    //================== MUSIC ================//
    
    
    
    //================== CONTACT ================//
    
    
    .contact1 {

        div {
            width: 425px;

            h2 {
                font-size: 50px;
                text-align: center;
            }

            p {
                font-size: 22px;
            }

            .contactForm {
                flex-direction: column;
            }
        }
    }
    
    
    //================== CONTACT FINAL ================//







}











//===============================================//
//================ screen - 682px ==============//
//===============================================//







@media screen and (max-width:682px) {




    //================== INTRO ================//




    .intro {

        .introRight {
    
            img {
                width: 450px;
                height: 450px;
                top: 5px;
            }
        }
    }




    //================== INTRO FINAL ================//


}





//===============================================//
//================ screen - 457px ==============//
//===============================================//







@media screen and (max-width:457px) {




    //================== INTRO ================//




    .intro {

        .introRight {
    
            img {
                width: 420px;
                height: 420px;
                top: 5px;
            }
        }
    }




    //================== INTRO FINAL ================//


}