//===============================================//
//================ 1920px - 1440px ==============//
//===============================================//



//========= UX / UI & WEB DEVELOPER & TATTOO SERVICE =========//



.uxUiWebPortfolio, .tattooPortfolio {
    width: 100%;
    height: 1226px;
    background-color: #13141E;
    @extend %flexCenter;

    div {
        width: 1440px;
        height: auto;
        @extend %flexCenter;
        flex-direction: column;

        h2 {
            @include webH2();
            color: white;
            border-bottom: solid 2px white;
            margin-bottom: 50px;
        }

        div {
            width: 100%;
            height: auto;
            @extend %flexCenter;
            flex-direction: row;

            img {
                @extend %picPortfolio;
            }
        }

        a {
            @extend %buttonPortfolio;
            width: 190px;
        }

        a:hover {
            @extend %buttonPortfolioHover;
            width: 190px;
        }
    }
}



//========= UX / UI & WEB DEVELOPER & TATTOO SERVICE FINAL =========//




//========= TATTOO SERVICE =========//






.mDesignPortfolio {
    width: 100%;
    height: 1226px;
    background-image: url(../img/papel-arrugado.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @extend %flexCenter;

    div {
        width: 1140px;
        height: auto;
        @extend %flexCenter;
        flex-direction: column;

        h2 {
            @include webH2();
            color: #13141E;
            border-bottom: solid 2px #13141E;
            margin-bottom: 50px;
        }

        div {
            width: 100%;
            height: auto;
            @extend %flexCenter;
            flex-direction: row;

            img {
                @extend %picPortfolio;
            }
        }

        a {
            @extend %buttonPortfolio;
            width: 190px;
        }

        a:hover {
            @extend %buttonPortfolioHover;
            width: 190px;
            color: white;
            background-color: #13141E;
        }
    }
}



//========= TATTOO SERVICE FINAL =========//








//===============================================//
//================ 1440px - 1024px ==============//
//===============================================//




@media (min-width:1024px) and (max-width:1440px) {



    //========= UX / UI, WEB & TATTOO =========//


    .uxUiWebPortfolio, .tattooPortfolio {
        height: 1065px;

        div {
            width: 1024px;

            h2 {
                @include webH2-1440();
                margin-bottom: 50px;
            }

            div {

                img {
                    width: 296.82px;
                    height: 337.04px;
                }

                .pic4 {
                    display: none;
                }
            }

            .secondPics {
                margin-bottom: 50px;
            }
        }
    }   
    
    

    //========= UX / UI, WEB & TATTOO FINAL =========//




    //========= MOTION DESIGN =========//


    .mDesignPortfolio {
        height: 1065px;

        div {
            width: 1024px;

            h2 {
                @include webH2-1440();
                margin-bottom: 50px;
            }

            div {

                img {
                    width: 296.82px;
                    height: 337.04px;
                }

                .pic4 {
                    display: none;
                }

                .secondPics {
                    margin-bottom: 50px;
                }
            }
        }
    }





    //========= MOTION DESIGN FINAL =========//



}














//===============================================//
//================ 1024px - 758px ==============//
//===============================================//





@media (min-width:758px) and (max-width:1024px){




//========= UX / UI, WEB & TATTOO =========//




.uxUiWebPortfolio, .tattooPortfolio{
    height: 2066px;

    div {
        width: 758px;

        h2 {
            font-size: 50px;
            text-align: center;
        }

        div {
            flex-wrap: wrap;

            .pic4 {
                display: inherit;
            }
        }
    }
}




//========= UX / UI, WEB & TATTOO FINAL =========//




//========= MOTION DESIGN =========//




.mDesignPortfolio {
    height: 2066px;

    div {
        width: 758px;

        h2 {
            font-size: 50px;
            text-align: center;
        }

        div {
            flex-wrap: wrap;

            .pic4 {
                display: inherit;
            }
        }
    }
}




//========= MOTION DESIGN =========//



}





//===============================================//
//================ 758px - 425px ==============//
//===============================================//





@media (min-width:425px) and (max-width:758px){

    .carouselContainer{
        padding-top: 75px;
        
    }

    .uxUiWebPortfolio, .tattooPortfolio, .mDesignPortfolio{
        height: 1833px;

        div {
            width: 425px;

            h2 {
                font-size: 36px;
                margin-bottom: 30px;
                text-align: center;
            }

            div {
                flex-direction: column;
            }

            .secondPics {
                display: none;
            }

            a {
                width: 163px;
                height: 62px;
                font-size: 26px;
            }
        }
    }



}