//========= FONTS =========//

@font-face {
    font-family: groteskWideBold;
    src: url(../../fonts/HKGroteskWide-ExtraBold.otf);
}

@font-face {
    font-family: groteskBold;
    src: url(../../fonts/HKGrotesk-Bold.ttf);
}

@font-face {
    font-family: otfGlusp;
    src: url(../../fonts/OTF-Glusp.ttf);
}

@font-face {
    font-family: chakraM;
    src: url(../../fonts/ChakraPetch-Medium.ttf);
}

@font-face {
    font-family: chakraB;
    src: url(../../fonts/ChakraPetch-Bold.ttf);
}

//========= FONTS =========//